@{
//Layout = "~/Views/Shared/MyPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link type="text/css" href="~/Content/Shared/Border.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Shared/Border.js"></script>

</head>
<body>
    <div>
        @*父页面添加*@
        <div class="Top-main">
            <img class="Image-title" src="~/Content/image/index.jpg"/>
            <div class="Navigatioin">
                <ul type="none" style="display:inline">
                    <li>主页</li>
                    <li>邮件</li>
                    <li>新闻</li>
                    <li>我的日志</li>
                    <li>我的图书</li>
                    <li><a href="Main">人员信息</a></li>
                    <li>功能设置</li>
                </ul>
            </div>
        </div>

        <div class="Border-left">

        </div>
        @RenderBody()


    </div>

</body>
</html>
