body {
    margin:0;
    padding:0;
    position:relative;
}

.Table_Content {
    position:absolute;
    margin-left:25%;
    margin-top:5%;
    background-color:#eee9e9;
}

.Table_Detail td {
    width:100px;
}

.Split_Page {
    position: absolute;
    text-align:center;
    vertical-align:middle;
    margin-left:30%;
    margin-top:35%;
}
