@{
//Layout = "~/Views/Shared/MyPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link type="text/css" href="~/Content/Shared/Border.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Shared/Border.js"></script>

</head>
<body>
    <div>
        @*父页面添加*@
        <div class="Top-main">
            <div class="Image-title" style="margin-left:20px;margin-top:2px;margin-right:20px"><img class="Image-title" src="~/Content/image/appendix.jpg"/></div>
            <div class="Navigatioin">
                <ul type="none" style="display:inline">
                    <li>邮件</li>
                    <li>新闻</li>
                    <li>公告</li>
                    <li>日程</li>
                    <li>工作日志</li>
                    <li>工作任务</li>
                </ul>
            </div>
        </div>

        <div style="position:relative;height:40.8em;width:60px;background-color:#ded8d8;float:left">

        </div>
        @RenderBody()


    </div>

</body>
</html>
