<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <table border="1">
        <tbody>
            <tr>
                <td>字段</td>
                <td>名称</td>
                <td>数据类型</td>
                <td>空</td>
                <td>备注</td>
            </tr>
            <tr>
                <td>ID</td>
                <td>全局唯一标识符</td>
                <td>uniqueidentifier</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>Number</td>
                <td>序号</td>
                <td>int</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>Code</td>
                <td>物料编码</td>
                <td>varchar(50)</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>物料名</td>
                <td>nvarchar(50)</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>Amount</td>
                <td>数量</td>
                <td>int</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>Unit</td>
                <td>单位</td>
                <td>nvarchar(50)</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>Price</td>
                <td>单价</td>
                <td>nvarchar(50)</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>Money</td>
                <td>金额(元)</td>
                <td>nvarchar(50)</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>Canteen</td>
                <td>饭堂</td>
                <td>nvarchar(50)</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>Stall</td>
                <td>档口</td>
                <td>nvarchar</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>Remark</td>
                <td>备注</td>
                <td>nvarchar(50)</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>PurchaseStorageHeaderID</td>
                <td>头部信息ID</td>
                <td>uniqueidentifier</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>OrderNum</td>
                <td>订单号</td>
                <td>nvarchar(50)</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>Supplier</td>
                <td>供应商</td>
                <td>nvarchar(50)</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>StorageTime</td>
                <td>入库日期</td>
                <td>datetime</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>Style</td>
                <td>结算方式</td>
                <td>nvarchar(50)</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>Suggesstion</td>
                <td>审批意见</td>
                <td>nvarchar(50)</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>BillTime</td>
                <td>制单日期</td>
                <td>datetime</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>BillMan</td>
                <td>制单人</td>
                <td>nvarchar(50)</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>ExamineTime</td>
                <td>审批日期</td>
                <td>datetime</td>
                <td>否</td>
                <td></td>
            </tr>
            <tr>
                <td>ExamineMan</td>
                <td>审批人</td>
                <td>nvarchar(50)</td>
                <td>否</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
